@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Heebo:wght@300;400;500&family=Poppins:wght@400;500;600;900&family=Roboto+Condensed&display=swap');

.App {
  text-align: center;
  max-width: 100vw;
  font-family: 'Heebo', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainLayout{
  width: 100%;
  display: flex;
  background: linear-gradient(
    to bottom,
    #44AA92 0px,
    #44AA92 150px,
    #f5f4f7 150px,
    #f5f4f7 100%
  );
  
}

.mainLayout-left{
  min-width: 280px;
  padding: 0;
  background-color: #DDFFF7;
  transition: all 0.5s;
}

.mainLayout-right{
  min-width: 400px;
  margin: 70px 0 50px 0;
  font-family: 'Poppins', sans-serif;
}

.mainLayout-left-active{
  margin-left: 0;
}

#sidebarOpenToggle {
  position: absolute;
  left: 0;
  display: none;
  margin: 20px;
  color: #DDFFF7;
  font-size: 20px;
  border: 1px solid #DDFFF7;
  border-radius: 30px;
  z-index: 2;
}

#sidebarCloseToggle {
  color: #DDFFF7;
  font-size: 20px;
  border: 1px solid #DDFFF7;
  border-radius: 30px;
  z-index: 2;
  cursor: context-menu;
  pointer-events: none;
}

@media(max-width: 1200px){
  .mainLayout-left{
    margin-left: -280px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }
  .mainLayout-left-active{
    margin-left: 0;
  }

  #sidebarCloseToggle {
    display: block;
    color: #44AA92;
    border: 1px solid #44AA92;
    cursor: pointer;
    pointer-events: auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
