@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Heebo:wght@300;400;500&family=Poppins:wght@400;500;600;900&family=Roboto+Condensed&display=swap');

.App {
  text-align: center;
  max-width: 100vw;
  font-family: 'Heebo', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainLayout{
  width: 100%;
  display: flex;
  background: linear-gradient(
    to bottom,
    #44AA92 0px,
    #44AA92 150px,
    #f5f4f7 150px,
    #f5f4f7 100%
  );
  
}

.mainLayout-left{
  min-width: 280px;
  padding: 0;
  background-color: #DDFFF7;
}

.mainLayout-right{
  min-width: 400px;
  margin: 50px 0 50px 0;
  font-family: 'Poppins', sans-serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
