/* SERVICES SECONDARY PAGE */


.sp2-pageHeader{
    margin-top: 75px;
}

.sp2-pageHeader h1{
    font-size: clamp(31px, 5vw, 50px);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
    color: #8EC3B0;
}

.sp2-pageBody .container .row{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    font-size: 17px;
}

.sp2-topDiv{
    margin-bottom: 50px;
    padding-top: 20px;
    background-color: #FAFAFA;
    border: 1px solid #e7e5e5;
    border-radius: 8px;
    box-shadow: 2px 2px 20px #e7e5e5;
    font-size: 17px;
}

.sp2-personalInfoDiv{
    text-align: start;
    padding: 0 20px;
}

.sp2-personalInfoDiv table{
    margin-top: 20px;
    background-color: transparent;
    border-spacing: 30px;

}

.sp2-personalInfoDiv table tbody tr{
    padding-bottom: 20px;
    vertical-align: text-top;
}

.sp2-personalInfoDiv table tbody tr td:first-child{
    font-weight: 400;
    color: #b3b3b3;
}

.sp2-personalInfoDiv table tbody tr td:nth-child(2){
    padding-left: 20px;
    padding-bottom: 5px;
}

.sp2-addMedRecBtn{
    margin-right: 20px;
    color: #fafafa;
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.sp2-bottomDiv{
    /* padding-top: 15px; */
    
}

.sp2-bottomDivHeader{
    align-items: center;
}

.sp2-MCRecordsDiv{
    background-color: #FAFAFA;
    border: 1px solid #e7e5e5;
    border-radius: 5px;
    box-shadow: 2px 2px 20px #e7e5e5;
}

.sp2-MCRecordsTable tr th{
    background-color: #44AA92;
    height: 50px;
    color: #FFF;
    font-size: 20px;
    text-align: start;
    vertical-align: middle;
    /* padding-left: 50px; */
}

.sp2-MCRecordsTable tr td{
    color: #15896C;
    height: 50px;
    vertical-align: middle;
    text-align: start;
}

.sp2-pageBody .sp2-MCRecordsTable tr th:first-child{
    border-top-left-radius: 10px;
}

.sp2-pageBody .sp2-MCRecordsTable tr td:first-child{
    border-left: 1px solid #dee2e6;
}

.sp2-pageBody .sp2-MCRecordsTable tr th:last-child{
    border-top-right-radius: 10px;
}

.sp2-pageBody .sp2-MCRecordsTable tr:hover{
    color: #8EC3B0;
}

.sp2-clickableMCRRow td{
    text-align: start;
    padding-left: 100px;
}

.sp2-clickableMCRRow:hover{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #8EC3B0;
}

.sp2-servicesBackBtn{
    margin: 50px 100px;
    padding: 10px 20px;
    background-color: #8EC3B0;
    color: #FFF;
    border: 1px solid #8EC3B0;
    border-radius: 10px;
}

.sp2-addMCButton{
    margin: 4px;
    padding: 6px 12px;
    background-color: #8EC3B0;
    color: #FFF;
    border: 1px solid #8EC3B0;
    border-radius: 5px;
    font-size: 16px;

}

@media only screen and (max-width: 1200px) {
    .sp2-pageHeader h1{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 885px) {
    .sp2-pageHeader h1{
        font-size: 32px;
    }
}