.sp3-mainContainer{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #dad8d8;
}

.sp3-pageHeader{
    margin-top: 40px;
}

.sp3-pageHeader h1{
    color: #8EC3B0;
}

.sp3-pageBody{
    margin-top: 50px;
    padding: 0 100px;
}

.sp3-personalInfoDiv{
    margin-bottom: 50px;
    text-align: start;
}

.sp3-personalInfoDiv table{
    margin: 20px 0 0 20px;
    background-color: transparent;
    border-spacing: 30px;

}

.sp3-personalInfoDiv table tbody tr th{
    padding: 0 15px 9px 0;
    
}

.sp3-servicesBacRecBtn{
    margin: 0 20px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: #8EC3B0;
    border:  2px solid #8EC3B0;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
}

.personal-info {
    display: flex;
}

.personal-info-left{
    margin-right: 16rem;
}

.personal-info-right > div > img {
    width: 13rem;
    height: 13rem;
}

.oral-health {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: row;
}

.oral-health-mobile {
    display: flex;
    flex-direction: column;
}

.oral-health > div > div > span {
    display: flex;
    border-bottom: solid 1px;
    border-color: #c9c9c9;
    height: 3.3rem;
    align-items: center;
    padding: 1rem;
}

.oral-health-left, .oral-health-right {
    display: flex;
    flex-direction: row;
}

.oral-health-one, .oral-health-three {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20rem;
}

.oral-health-two, .oral-health-four {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 12rem;
}

.rowColumn {
    display: flex   
}

.dietary {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 5rem;
}

.dietary-label {
    display: flex;
    flex-direction: column;
    width: 22rem;
}

.dietary-label > span {
    border-bottom: solid 1px;
    border-color: #c9c9c9;
    height: 3.3rem;
    align-items: center;
    padding: 1rem;
    display: flex;
}

.dietary-input {
    display: flex;
    flex-direction: column ;
}

.dietary-input > span {
    border-bottom: solid 1px;
    border-color: #c9c9c9;
    height: 3.3rem;
    align-items: center;
    padding: 1rem;
    display: flex;
}