/* SERVICES MAIN PAGES */

.sp1-container{
    padding: 50px 0;
    background-color: #FAFAFA;
    border: 1px solid #e7e5e5;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #dad8d8;
}

.sp1-pageHeader{
    margin: 0 50px 0 50px;
}

.sp1-pageHeader h1{
    color: #8EC3B0;
    font-weight: 900;
    font-family: 'Barlow Condensed', sans-serif;
}

.sp1-pageBody{
    margin-top: 50px;
    padding: 0 100px;
    
}

.sp1-pageBody .list-group .listHeader{
    padding: 10px 0;
    background-color: #44AA92;
    color: #FFF;
    border-radius: 10px;

}

.sp1-pageBody .list-group .listRecords{
    margin-bottom: 1px;
    border-top: none;
    border-left: none;
    background-color: #FAFAFA;
    border: 1px solid #e7e5e5;
    border-radius: 20px;
    color: #8EC3B0;
    align-items: center;
}

.sp1-pageBody .list-group li h6{
    margin-bottom: 0;
    font-size: 22px;
}

.sp1-pageBody .list-group li .viewBtn{
    background-color: #44AA92;
    color: #FFF;
}